/* @font-face {
  font-family: 'Chalkduster';
  src: url('chalkduster.ttf');
}

@font-face {
  font-family: 'Qaskin';
  src: url('qaskin.ttf');
} */

@font-face {
  font-family: 'Firacode';
  src: url('firacode.otf');
}

@font-face {
  font-family: 'Fredoka';
  src: url('FredokaOne-Regular.ttf');
}

@media only screen and (max-width: 500px) 
{
  /* so that mobile users could close the modal if it occupies all the screen */
  .modal{
    padding-left: 30px;
  }
}

.btn{
  border-radius: 21px;
}

::selection {
  background: rgb(255, 214, 11) !important;
  user-select: text !important;
}
::-webkit-selection {
  background: rgb(255, 214, 11) !important;
  -webkit-user-select: text !important;
  user-select: text !important;
}
::-moz-selection {
  background: rgb(255, 214, 11) !important;
  user-select: text !important;
  -moz-user-select: text !important;
}

/*scrollbar style*/
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  padding-left: 7px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 16px;
}

blockquote {
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
  position: absolute;
  font-size: 3em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}

blockquote:after {
  position: absolute;
  float:right;
  font-size:3em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}

video{
  border-radius: 10px;
}

#search-results{
  position: relative;
  padding-top: 100px;
}


#submit-search{
  border-color: #0dcaf0;
}

#submit-search:hover{
  background-color: #0dcaf0;
}

#headbar{
  padding-top:7px;
  padding-bottom:7px;
  padding-right:7px;
  padding-left:7px;

  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:99;
}

#footer {
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  z-index:99;
  /* Set the fixed height of the footer here */
  height: 25px;
  line-height: 25px; /* Vertically center the text there */
  font-family: 'Fredoka';
}

#innerframe{
  height:100%;
}

#footer a{
  text-decoration: none;
}

#logo{
  padding-left: 1em;
  font-family: 'Fredoka';
}

.post{
  display: none;
  padding-top: 3em;
  padding-bottom: 3em;
  color: rgb(69, 69, 69);
}

.blurred{
  -webkit-filter: blur(21px);
  -moz-filter: blur(21px);
  -o-filter: blur(21px);
  -ms-filter: blur(21px);
  filter: blur(21px);
}

#loadspinner{
  padding-bottom: 2em;
}

#translation_div{
  padding-top: 1em;
  color: rgb(0, 107, 200);
}

.modal-content{
  border-radius: 21px;
  border-width: 3px;
  border-color: black;
  color:rgb(69, 69, 69);
}

#tolanglist{
  border-radius: 21px;
}

#tolang{
  color: rgb(0, 107, 200);
}

#memory{
  padding-bottom: 5em;
  padding-top: 1em;
}


#pinnedpost{
  display:none;

  margin-bottom: 5em;
  margin-top: 5em;


  padding-bottom: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

  background-color: rgb(225, 248, 255);
  border-radius: 21px;
}

#input-search{
  border-color: #0dcaf0;
  height: 31px;
  border-radius: 21px;
}

#xyz.btn-sm{
  font-family: 'Fredoka';
  padding-left: 5px;
  padding-right: 5px;
}

#xyz a{
  color: black;
  font-weight: bold;
  font-size: x-small;
  margin-right: 0;
}

img{
  margin-top:1em;
  margin-right:1em;
  border-radius: 10px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.elegant{
  font-family: 'Qaskin';
  font-size: large;
}


.container{
  font-family: 'Fredoka';
}

#input-search:focus {
  box-shadow: none;
  outline: none;
}


.cadetblue{
  color:cadetblue;
}

.purple{
  color:purple;
}


.blue{
  color:blue;
}

.green{
  color:green;
}

.black{
  color:black;
}


.red{
  color: red !important;
}
